[submodule "third-party/imgui"]
	path = third-party/imgui
	url = https://github.com/nlapinski/imgui.git
	branch = docking-layout
[submodule "third-party/imgui-node-editor"]
	path = third-party/imgui-node-editor
	url = https://github.com/nlapinski/imgui-node-editor.git
	branch = docking
[submodule "third-party/bgfx.cmake"]
	path = third-party/bgfx.cmake
	url = https://github.com/nlapinski/bgfx.cmake.git
[submodule "third-party/SDL"]
	path = third-party/SDL
	url = https://github.com/nlapinski/SDL.git
[submodule "third-party/libtcc-cmake"]
	path = third-party/libtcc-cmake
	url = https://github.com/nlapinski/libtcc-cmake.git
[submodule "third-party/glm"]
	path = third-party/glm
	url = https://github.com/nlapinski/glm.git
